<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>

    <!-- CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />

    <!-- Boxicons CSS -->
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <section class="container forms">
      <div class="form signup">
        <div class="form-content">
          <header>Signup</header>
          <form
            action="{{ url_for('register') }}"
            method="POST"
            id="signup-form"
          >
            <div class="field input-field">
              <input
                type="text"
                name="username"
                placeholder="Username"
                class="input"
                id="username"
                required
              />
            </div>
            <p id="error-message">{% if error %}{{ error }}{% endif %}</p>
            <div class="field input-field">
              <input
                type="text"
                name="firstname"
                placeholder="First Name"
                class="input"
                required
              />
            </div>
            <div class="field input-field">
              <input
                type="text"
                name="lastname"
                placeholder="Last Name"
                class="input"
                required
              />
            </div>
            <div class="field input-field">
              <input
                type="email"
                name="email"
                placeholder="Email"
                class="input"
                required
              />
            </div>
            <div class="field input-field">
              <input
                type="text"
                name="address"
                placeholder="Address"
                class="input"
                required
              />
            </div>
            <div class="field input-field">
              <input
                type="file"
                name="textfile"
                placeholder="File"
                id="textfile"
                accept=".txt"
                class="input"
              />
            </div>
            <p id="file-upload-status">
              {% if file_upload_status %}{{ file_upload_status }}{% endif %}
            </p>
            <div class="field input-field">
              <input
                type="password"
                name="password"
                placeholder="Create password"
                class="password"
                id="password"
                required
              />
            </div>
            <div class="field input-field">
              <input
                type="password"
                placeholder="Confirm password"
                class="password"
                id="confirm-password"
                name="confirm_password"
                required
              />
              <i class="bx bx-hide eye-icon"></i>
            </div>
            <p id="password-match-message"></p>
            <div class="field button-field">
              <button type="submit" id="signup-btn">Signup</button>
            </div>
            <p id="success-message">{% if success %}{{ success }}{% endif %}</p>
          </form>
          <div class="form-link">
            <span>
              Already have an account?
              <a href="{{ url_for('index') }}" class="link">Login</a>
            </span>
          </div>
        </div>
      </div>
    </section>
    <script>
      const loginUrl = "{{ url_for('index') }}";
    </script>
    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='eyeToggle.js') }}"></script>
    <script src="{{ url_for('static', filename='signup.js') }}"></script>
  </body>
</html>
